#aboutUsH2 {
  text-align: left;
}

#info-container {
  display: grid;
  justify-content: center;
  margin-top: 20%;
}

#map-div {
  margin-top: 20%;
  height: 50vmin;
  width: 50vmin;
}

#contactForm {
  width: 100px;
  height: auto;
  margin-top: 20%;
}

#contactForm input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}
