#menuNav img {
    height: 100%;
    object-fit: cover;
    position: relative;
}

#menuNav h1 {
    left: 0;
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 100;
    width: 100%;
    /* font-size: 50pt; */
    top: 15vw;
}

#menuNav nav {
    background: none;
    top: 25vw;
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
}

#menuNav a {
    color: #fff;
    text-decoration: none;
    font-size: 25pt;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

section:not(#menuNav){
    padding: 0.5rem;
}

section figure {
    width: 18vw;
    height: 40%;
    max-height: 300px;
    margin: 2vw 3vw 1vw 0;
    padding: 1vw 1.6vw 1vw 1.6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
}

figure img {
    height: 45%;
    width: 100%;
    object-fit: cover;
}

section h3 {
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}

.yellowShadow {
    text-shadow: -4px -4px 0 #FCD01B, -6px -6px 0 #fff;
}

.blueShadow {
    text-shadow: -4px -4px 0 #57C9E8, -8px -8px 0 #fff;
}



figcaption {
    display: flex;
    flex-direction: column;
}

figcaption h4 {
    padding: 0;
    font-family: 'Outfit', sans-serif;
    height: 3rem;
    font-size: 13px;
}

p {
    font-size: 12px;
}

span {
    font-size: 10px;
}



