/*** scrollbar styles ***/

*::-webkit-scrollbar {
  width: 0px;

}



*::-webkit-scrollbar-track {
  background: darkgrey;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
  border: 0px solid black;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: darkgrey;
}


/*** global styles ***/
*{
  padding: 0;
  margin: 0;
}


body,html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}





/*** 1.1 - global font styles ***/




*{
  font-family: 'Libre Baskerville', serif;
}

h1,h2,h3{
  font-family: 'Outfit', sans-serif;
  -webkit-text-stroke: 2px;
}


h1{
  font-size: 40pt;

}

h2{
  font-size: 20pt;

}

h3{

  font-size: 16pt;
}


a, a:active{
  color: black;
  text-decoration: none;

}









img{
  width: 100%;
}

main{
  z-index: 10;

}



section{
  width: 100%;
  height: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}




/*** styles classes ***/
.redBg{
  background: #EF3A24;
}

.blueBg{
  background: #57C9E8;
}

.greenBg{
  background: #3EB372;
}

.yellowBg{
  background: #FCD01B;
}

.pinkBg{
  background: #F8B4BC
}

.blackBg{
  background: black;
}

.whiteBg{
  background: white;
}



.redClr{
  color: #EF3A24;
}

.blueClr{
  color: #57C9E8;
}

.greenClr{
  color: #3EB372;
}

.yellowClr{
  color: #FCD01B;
}



.blackClr{
  color: black;
}

.whiteClr{
  color: white;
}


/*** buttons ***/
button[name='sliceBtn']{
  width: 100px;
  height: 100px;
  background: none;
  border: none;
}

button[name='sliceBtn'] img{
  width: 90%;
  margin: 0 auto -5px auto;
}

button[name='sliceBtn'] h3{
  font-size: 16pt;
  -webkit-text-stroke: 0px;

}




/*** hamburger menu ***/

nav{
  position: absolute;
  width: 100%;
  height: 40px;
  background: #7A3700;

}

#hamburgerMenu{
  width: 30px;
  height: 30px;
  margin: 5px;
}

#hamburgerMenu span{
  width: 30px;
  height: 5px;
  background: black;
  margin-top: 5px;
  display: block;
}


nav #mobileMenu{
  position: absolute;
  width: 200px;
  height: 95vh ;
  z-index: 100;
  margin-left: -200px;
  transition: 500ms;
  overflow: hidden;
}
nav #navLogo{
  width: 30px;
  height: auto;
  margin-top: -35px;
  float: right;
}


#mobileMenu ul li{
  font-size: 14pt;
}

#menuCover{
  position: absolute;
  display: block;
  background: black;
  width: 100%;
  height: 95vh;
  margin-top: 40px;
  margin-left: -100%;
  z-index: 90;
  opacity: 0.6;
  transition: 500ms;
}


#webMenu{
  display: none;
  height: 40px;
}


/*** header ***/

header{
  width: 100%;
  height: auto;
}

header figure {
  width: 100%;
  height: auto;
  margin: 0 auto 150px auto;
  min-height: 300px;
}

header figure img{
  width: 110%;
  margin-left: -5%;

}

header figure figcaption{
  margin: -200px 0 0px 0;
  text-align: center;
}



#halfCircle {
    width: 100%;
    height: 50vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;

}


#halfCircle button{
  margin: 20% 5% 0 5%;
}

/* *** Amazing Flavours *** */

#amazFlvr div{
  width: 90%;
  margin:  auto;
  padding: 5%;

}


#amazFlvr h1{
  font-size: 50pt;
  padding: 10px;
}

#amazFlvr h1:nth-child(1){
  margin-bottom: 35%;
}

#amazFlvr h1:nth-child(2){
  float: right;
}










/* *** Menu *** */
#menuTile{
  display: flex;
  flex-direction: column;
}
#menuTile figure{
  width: 80%;
  margin: auto;
}

#menuTile figure img{
  width: 100%;
  margin-top: 2%;
}

#menuTile figure figcaption{
  width: 100%;
  margin-top: -55%;
  text-align: center;
}

#menuTile button{
  margin: 27% auto;
  width: 70px;
}

#menuTile button img{
 transform: rotate(180deg);
}













/* *** About *** */

.threeLayerHeader{
  padding: 5px;
}

.threeLayerHeader h1{
  font-weight: bolder;
  font-size: 40pt;

}

.threeLayerHeader h1:nth-child(1){
  margin: 0px 0 0 0px;
}

.threeLayerHeader h1:nth-child(2){
  margin: -52px 0 0 5px;
}

.threeLayerHeader h1:nth-child(3){
  margin: -52px 0 0 10px;
}




.aboutQuote{
  width: 80%;
  margin: 30px auto;
}

.aboutQuote p{
  margin-top: -20px;

}

.aboutQuote :is(span:nth-child(1), span:nth-child(3)){
  width: 100%;
  font-size: 30pt;
  font-family: 'Outfit', sans-serif;
  -webkit-text-stroke: 1.5px;
  transform: rotate(20deg);
}

.aboutQuote span:nth-child(1){
  margin-left: -5%;

}

.aboutQuote span:nth-child(3){
  margin-top: -10px;
  margin-left: 100%;
}


#aboutTile > button{
  float: right;
  margin-top: -50px;
  margin-right: 5%;
  width: 70px;
}




/* *** Orders *** */


#orderTile  form{
  width: 90%;
  margin: auto;
}

#orderTile a {
  width: 100%;
}

#orderTile > form > a > div{
  width: 100%;
  display: flex;
  margin: 10px auto 10px auto;

}

#orderTile > form > a > div > input:nth-child(1){
  margin-right: 10%;
}

#orderTile > form > a > div > :is(input:nth-child(1),input:nth-child(2)){
  width: 45%;

}

#orderTile > form > a > input{
  width: 98.7%;
}




/* *** Footer *** */


footer{
  height: 50px;
  display: flex;
  justify-content: center;
}

#backToTop{
  height: 30px;
  width: 30px;
  margin-top: 10px;

}




@media screen and (min-width: 780px){

  #hamburgerMenu{
    display: none;
  }
  #webMenu{
    display: flex;
  }

  main{
    display: flex;
    flex-wrap: wrap;

  }



  section{
    width: 33.3333%;
    max-height: 400px;
    position: static;

  }





}
